@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-6">
        <div class="jumbotron">
            <h1>Log In Now</h1>
            <p class="lead">By this option you can Log in in our website</p>
            <p>
                <a href="~/UserLogIn/UserLogIn">Log In</a>
              
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="jumbotron">
            <h1>Register Now</h1>
            <p class="lead">By this option you can Register in our website</p>
            <p>
                <a href="~/Default/CreateUser">Register</a>
                
            </p>
        </div>
    </div>
</div>
