@model IEnumerable<StudentProject.Models.AssignSubjectToTeacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-condensed table-striped  table-bordered table-hover">
    <tr>
        <th>
            @Html.Label("Teacher Email")
        </th>
        <th>
            @Html.Label("Subject name")
        </th>
        <th>

        </th>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
           
           
           
        </tr>
    }

</table>

