<div>
    <h2>Your Account is not activated. Please contact to the School Administration</h2>
    <div>
        
        <img src="~/Content/img.png"  class="img-rounded" alt="Cinque Terre" width="304" height="236"/>
    </div>
    <div class="w3-container w3-teal">
        <div>
            <button type="button" value="Home" onclick="location.href='@Url.Action("Index","Home")'" class="btn btn-primary" />Home page
        </div>
    </div>
</div>
